@charset "UTF-8";

 body
{
 background-image: linear-gradient(to bottom, pink, violet);
 color: black;
 font-size: 12pt;
 font-family: Arial;
 text-align: center;
 align-itens: center;
 justify-content: center;
}
  
